.contenido{
    padding-top: 6vh;

}

h1{
    color: black; 
    font-family: 'Open-Sans', sans-serif;
    font-size: 32px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
}
 h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, rgba(90,188,170,1) 0%, rgba(31,118,186,1) 100%);
    bottom: 0;
    left: calc(50% - 50px);
}