h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, rgba(90,188,170,1) 0%, rgba(31,118,186,1) 100%);
    bottom: 0;
    left: calc(50% - 50px);
}

.img{
    width: 25vw;
    height: 30vh;
    border-radius: 10px;
}
.texto{
    font-family: 'Open Sans', sans-serif;
    width: 30vw;

}
.textli{
    font-size: 20px !important;
}
.boton{
    background-color: #fd1111;
    color: white;
    border-radius: 30px;
    width: 3rem;
    height: 3rem;
    font-size: 20px;
    font-family: 'Montserrat-SemiBold', sans-serif;
}
.icono{
    position: relative;
    top: 0px;
    left: 14px;
}
