h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, rgba(90,188,170,1) 0%, rgba(31,118,186,1) 100%);
    bottom: 0;
    left: calc(50% - 50px);

}
h1{
    text-transform: none !important;
    padding-top: 30px;
}

.swiperpagination {
    margin-top: 20px;
    position: relative;
  }
  
 .swiperpagination .swiperpaginationbullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #e03a3c;
  }
  
 .swiperpagination .swiperpaginationbullet-active {
    background-color: #e03a3c;
  }
  
.swiperslide img {
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);
  }
  
 .swiperslide img:hover {
    opacity: 1;
    filter: none;
  }
  
