h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, rgba(90,188,170,1) 0%, rgba(31,118,186,1) 100%);
    bottom: 0;
    left: calc(50% - 50px);

}
h1{
    text-transform: none !important;
    padding-top: 30px;
}

:root {
  --swiper-theme-color: black;
}
.centrado{
  display: flex;
  justify-content: center;
  align-items: center;
}   