video { 
position: relative; 
}

.texto{ 
    position: absolute;
   top: 33vh;
      left: 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 55px;
      line-height: 65px;
      color: white;
      font-weight: bold !important;
      width: 44vw;
      font-size:40px ;
      transition: opacity 0.5s ease-in-out; 
    }

.swadow{
  --tw-drop-shadow: drop-shadow(2px 2px 2px #000) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
  }
  .fadeIn {
    opacity: 1;
    transition: opacity 1s ease-in-out; 
    --tw-drop-shadow: drop-shadow(2px 2px 2px #000) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
  }
  
  .fadeOut {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
    --tw-drop-shadow: drop-shadow(2px 2px 2px #000) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
  }
  .ubicacion{
    position: absolute;
    bottom: 50px;

}